{% extends "base.html" %}
{% block content %}
<div class="newrest-clean">
  <h2 class="text-light">Add Restaurant</h2>
    <form class="row g-3" method="post" action="/newrestaurant">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-danger" role="alert">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <div class="col-12">
          <input class="form-control" type="text" name="name" placeholder="Restaurant Name" required>
        </div>
        <div class="col-12">
          <input class="form-control" type="text" name="address" placeholder="Street Address" required>
        </div>
        <div class="row g-3 mt-0">
          <div class="col-6">
            <input class="form-control" type="text" name="postnumber" placeholder="Post Number" required>
          </div>
          <div class="col-6">
            <input class="form-control" type="text" name="city" placeholder="City" required>
          </div>
        </div>
        <div class="row g-3 mt-0">
          <div class="col-6">
            <input class="form-control" type="text" name="latitude" placeholder="Latitude" required>
            <div class="row coord">
              <a href="https://www.latlong.net" class="card-link fw-light fs-6">Get coordinates</a>
            </div>
          </div>
          <div class="col-6">
            <input class="form-control" type="text" name="longitude" placeholder="Longitude" required>
          </div>
        </div>
        <div class="col-12 mt-2">
          <input class="form-control" type="text" name="website" placeholder="Website" required>
        </div>
        <!-- <div class="row g-3">
          <div class="col-3">
            <span class="form-text">Monday</span>
          </div>
          <div class="col-3">
            <input class="form-control" type="text" name="mondayopen" placeholder="Open">
          </div>
          <div class="col-3">
            <input class="form-control" type="text" name="mondayclose" placeholder="Close">
          </div>
          <div class="col-3">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Closed
            </label>  
          </div>
        </div> -->
        <div class="col-6">
          <button class="btn btn-danger btn-block" type="reset">Reset</button>
        </div>
        <div class="col-6">
          <button class="btn btn-primary btn-block" type="submit">Add</button>
        </div>
    </form>
</div>
{% endblock %}