{% extends "base.html" %}
{% block content %}
<div class="newrest-clean">
  <h2 class="text-light">Add Restaurant</h2>
    <form class="row g-3 shadow" method="post" action="/newrestaurant">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-danger" role="alert">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <div class="col-12">
          <input class="form-control" type="text" name="name" placeholder="Restaurant Name" required>
        </div>
        <div class="col-12">
          <input class="form-control" type="text" name="address" placeholder="Street Address" required>
        </div>
        <div class="row g-3 mt-0">
          <div class="col-6">
            <input class="form-control" type="text" name="postnumber" placeholder="Post Number" required>
          </div>
          <div class="col-6">
            <input class="form-control" type="text" name="city" placeholder="City" required>
          </div>
        </div>
        <div class="row g-3 mt-0">
          <div class="col-6">
            <input class="form-control" type="text" name="latitude" placeholder="Latitude" required>
            <div class="row coord">
              <a href="https://www.latlong.net" class="card-link fw-light fs-6">Get coordinates</a>
            </div>
          </div>
          <div class="col-6">
            <input class="form-control" type="text" name="longitude" placeholder="Longitude" required>
          </div>
        </div>
        <div class="col-12 mt-2">
          <input class="form-control" type="text" name="website" placeholder="Website" required>
        </div>
        <div class="btn-group flex-wrap mt-3" role="group">
          <input type="checkbox" class="btn-check" id="european" autocomplete="off" value="1" name="tags">
          <label class="btn btn-outline-primary" for="european">European</label>
          <input type="checkbox" class="btn-check" id="fastfood" autocomplete="off" value="2" name="tags">
          <label class="btn btn-outline-primary" for="fastfood">Fast food</label>
          <input type="checkbox" class="btn-check" id="student" autocomplete="off" value="3" name="tags">
          <label class="btn btn-outline-primary" for="student">Student lunch</label>
          <input type="checkbox" class="btn-check" id="american" autocomplete="off" value="4" name="tags">
          <label class="btn btn-outline-primary" for="american">American</label>
          <input type="checkbox" class="btn-check" id="asian" autocomplete="off" value="5" name="tags">
          <label class="btn btn-outline-primary" for="asian">Asian</label>
          <input type="checkbox" class="btn-check" id="mexican" autocomplete="off" value="6" name="tags">
          <label class="btn btn-outline-primary" for="mexican">Mexican</label>
        </div>
        <div class="col-6">
          <button class="btn btn-danger btn-block" type="reset">Reset</button>
        </div>
        <div class="col-6">
          <button class="btn btn-primary btn-block" type="submit">Add</button>
        </div>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
</div>
{% endblock %}